# Backend API
VITE_API_BASE_URL=http://localhost:3001/api

# Network
VITE_NETWORK_NAME=Polygon Amoy Testnet
VITE_CHAIN_ID=80002
VITE_RPC_URL=https://polygon-amoy.drpc.org
VITE_BLOCK_EXPLORER=https://amoy.polygonscan.com

# Real Verified Smart Contract Addresses on Polygon Amoy
VITE_CONTRACT_IAM=0x0Ca09ba889727bE9FbBAA53d2fE1541bF2f8cee6
VITE_CONTRACT_NFT=0xE97E0ea3a452a5099fd126721Db0DAfa96455e7D
VITE_CONTRACT_ANCHOR=0x8921960116d0D4a8A26aad7eA330E3f098C7F58F
VITE_CONTRACT_RECOVERY=0xf3F590b6DFA67a8453c62C8E065cdb5127518b90
